#timer {
    white-space: nowrap; /* ensures the text stays in one line */
    width: auto;         /* automatically adjusts to content */
    font-size: 15px;
    color: #b22222;
    font-weight:700;
    /*margin-right: 35px;*/
}

#webcam {
    position: fixed;
    top: 40px;
    right: 10px;
    border: 2px solid #333;
    width: 120px;
    height: 100px;
    overflow: hidden;
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

canvas.overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:none;
}

video { 
    width: 100%; 
    border-radius:6px; 
    background: #000 
}
